.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 50px 15px 50px;
}

ul {
	list-style: style none;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 10px;
}

.delete {
	color: red;
	cursor: pointer;
}

input:checked+span {
	text-decoration: line-through;
}